/* =========================
   HEADER
========================= */
:root {
	--color-primary: rgba(142, 205, 255, 0.2);
	--header-padding: 15px;
	--bottom-border: 1px solid #eee;
}

.site-header {
	width: 100%;
	
	background: var(--color-primary);
}


/* =========================
   HEADER CONTAINER
========================= */

.header-container {
 	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	
	padding: var(--header-padding) 0;
}


/* =========================
   LOGOS
========================= */

.header-logo-img{
	height: 90px;
	width: auto;

	object-fit: contain;
}

/* =========================
   EVENT VIDEO (CENTER)
========================= */

.header-event-video {
  position: relative;

  height: 70px;
  width: auto;
  
  object-fit: contain;
}
