/* =========================
   IMPORTANT DATES SECTION
========================= */

.important-dates {
	margin-top: 50px;
	padding: 50px 20px;

	border: 1px solid #f2f2f2;
	border-radius: 20px;
	background: var(--dates-bg);
}

.section-title {
	margin-bottom: 14px;

	font-size: 2.2rem;
	font-weight: 700;

	color: var(--text-dark);
}


.section-subtitle {
	width: 100%;
	margin: 0 auto;

	font-size: 1rem;
	line-height: 1.7;

	color: var(--text-light);
}


/* =========================
   DATES GRID
========================= */

.dates-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}


/* =========================
   DATE CARD
========================= */

.date-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 35px 25px;

	border-top: 5px solid brown;
	border-radius: 18px;

	background: var(--card-bg);
	box-shadow: var(--card-shadow);

	text-align: center;

	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
}


/* =========================
   CARD HOVER
========================= */

.date-card:hover {
	transform: translateY(-8px);

	box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}


/* =========================
   CARD ICON
========================= */

.date-card-top {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 70px;
	height: 70px;
	margin-bottom: 24px;

	border-radius: 50%;

	background: rgba(0,102,255,0.08);
}

.date-card-top i {
	font-size: 1.5rem;

	color: var(--primary-color);
}


/* =========================
   CARD TITLE
========================= */

.date-card-title {
	margin-bottom: 14px;

	font-size: 1.2rem;
	font-weight: 600;

	color: var(--text-dark);
}


/* =========================
   CARD DATE
========================= */

.date-card-date {
	font-size: 1rem;
	font-weight: 500;

	color: var(--primary-color);
}